<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Raspa Pizza</title>
    
    <link href="https://fonts.googleapis.com/css?family=Lato|Ubuntu+Condensed" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
    <body>
        <!-- most top bar for logging in/out-->
        <section class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 col-sm-6 col-xs-12 pull-right">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        </section>
        
        <!-- The navigation menu -->
        <section class="navbar navbar-inverse ">
            <div class="container">
                <nav class="row">             
                    @Html.Partial("_topMenu") 
                </nav>
            </div>
        </section>
        
        <!-- The body -->
        <section class="container body-content">
            @RenderBody()
        </section>
        
        
        <!-- The footer -->
    <footer>
        <hr />
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
